{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384- 
    0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384- 
    pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'microApp/main.css'%}">
    <title>Details</title>
</head>
<body>

    
    <div class="bg">
        <img src="{% static 'microApp/bg.jpg' %}" alt="alternate">
    </div>
 
    <div class="row justify-content-center pt-5 details mt-5 details">
        <div class="col-5">
            <div class="card" style="width:18 em">
                    <div class="card-body">
                        <h5 class="card-title mb-4">kindly fill the details</h5>
                          <form action="{% url 'farmerDetails' %}" method="POST">
                            {% csrf_token %}
                            <label for="area" class="mb-2">Area of field</label>
                             <input type="text" id="area" class="form-control mb-2" name="area">

                             <label for="soil" class="mb-2">Type of soil</label>
                             <input type="text" id="soil" class="form-control mb-2" name="soil">

                             <label for="crops" class="mb-2">Major crops grown</label>
                             <input type="text" id="crops" class="form-control mb-2" name="crops">

                             <label for="ll" class=" mb-2">Longitude,Latitude</label>
                             <input type="text" id="ll" class="form-control mb-2" name="ll">

                             <Button type="submit" class="btn btn-primary">Submit</Button>

                          </form>
                        </div>
                    </div>
                </div>
            </div>

</body>
</html>